footer#footer
  div.outer
    div#footer-info.inner
      | &copy; #{date(new Date(), 'YYYY')} #[a(href='https://secure.istockphoto.com/profile/DrAfter123' target='_blank') Tjaša Žurga], #[a(href='https://github.com/nightmarebadger' target='_blank') Natan Žabkar]
