footer#footer
  div.outer
    div.container
      div#footer-info.inner
        img(src=url_for('css/images/footer-logo.png'))

        p Copyright &copy; #{date(new Date(), 'YYYY')} by #[a(href='mailto:tjasa.z@gmail.com' target='_blank') Tjaša Žurga Žabkar], #[a(href='https://github.com/nightmarebadger' target='_blank') Natan Žabkar]
