footer#footer
  div.outer
    div.container
      div#footer-info.inner
        img(src=url_for('css/images/footer-logo.png'))

        p iStock profile: #[a(href='https://secure.istockphoto.com/profile/DrAfter123' target='_blank') DrAfter123]

        p Copyright &copy; #{date(new Date(), 'YYYY')} by #[a(href='mailto:tjasa.z@gmail.com') Tjaša Žurga Žabkar], #[a(href='https://github.com/nightmarebadger' target='_blank') Natan Žabkar]

        p Powered by #[a(href='http://hexo.io/' target='_blank') Hexo]
