//- TODO: Remove temporary meta to block crawlers
meta(name="robots" content="noindex, nofollow, nosnippet")

meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')

title= page.title + ' | ' + config.title

!= open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id, type: theme.fb_type})

if theme.favicon
  link(rel='icon' href=theme.favicon)

!= css('css/style')

!= partial('google-analytics')
