@import "_variables"

global-reset()

img
  max-width 100%

.clearfix
  clearfix()

.text-center
  text-align center

.container
  center(1080px, 15px)

#header
  .logo-wrap
    padding 40px 0 30px

#main
  .title-block
    background url(images/header-background.jpg) 50% 50% no-repeat
    background-size cover
    padding 115px 0

    text-align center

    h1
      color color-white
      font-size 36px

  .main
    color color-black
    font-size 16px
    line-height 24px

    .content-wrapper
      padding 70px 0 100px 0

    .title


    .middle-text
      margin 50px 0 40px 0

      .last
        margin-top 5px

#footer
  background url(images/footer-background.jpg) 50% 50% no-repeat
  background-size cover
  padding 40px 0 180px 0

  .inner
    col(5/7, 2/7)

  &
  a
  a:hover
  a:active
  a:visited
    color color-white
    text-decoration underline

  a
    text-decoration none

  p
    margin-top 5px
