doctype html
html
  head
    != partial('_partial/head')
  body
    div#container
      div#wrap
        != partial('_partial/header')
        div.outer
          section#main
            != body
        != partial('_partial/footer')
      != partial('_partial/after-footer')
